<%= form_for(@director) do |f| %>
  <% if @director.errors.any? %>
    <div class="row" style="text-align:center;">
      <div class="span12" style="text-align:center;">
      <div id="error_explanation" style="text-align:center;">
        <h2><%= pluralize(@director.errors.count, "error") %> prohibited this director from being saved:</h2>

        <ul>
        <% @director.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      </div>
    </div>
  <% end %>

  <div class="row" style="text-align:center;">
    <div class="span12" style="text-align:center;">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row" style="text-align:center;">
    <div class="span12" style="text-align:center;">
      <label>Date of Birth</label>
      <%= f.text_field :date_of_birth, :class => 'datepicker', :readonly => 1 %>
    </div>
  </div>
  <div class="row" style="text-align:center;">
    <div class="span12" style="text-align:center;">
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </div>
  </div>
  <div class="row" style="text-align:center;">
    <div class="span12" style="text-align:center;">
      <%= f.submit %>
    </div>
  </div>
<% end %>
