<div style="text-align:center;">
  <div class="row"><h1>Directors</h1></div>
  
  <div class="row">
    <%= link_to 'Add A New Director', new_director_path %>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="span4" style="font-weight:bold; text-align:left;">Name</div>
    <div class="span3" style="font-weight:bold; text-align:left;">Date of birth</div>
    <div class="span3" style="font-weight:bold; text-align:left;">Gender</div>
  </div>
  <div class="row">
    <div class="span12">
      <hr />
    </div>
  </div>

  <% @directors.each do |director| %>
    <div class="row">
      <div class="span4" style="text-align:left;"><%= director.name %></div>
      <div class="span3" style="text-align:left;"><%= director.date_of_birth %></div>
      <div class="span3" style="text-align:left;"><%= director.gender %></div>
      <div class="span2">
        <%= link_to 'Show', director %>/<%= link_to 'Edit', edit_director_path(director) %>/<%= link_to 'Remove', director, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="row">
        <div class="span12" style="padding-left:20px;">
          <hr />
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= link_to 'Add A New Director', new_director_path %>
  </div>
</div>
