<div style="text-align:center;">
  <div class="row" style="text-align:padding-left:15px;">
    <div class="span12">
      <h1>DVDs</h1>
    </div>
  </div>

  <div class="row">
    <div class="span4 offset4">
      <h4>Search</h4>
    </div>
  </div>
    <div class="row">
      <div class="span12">
        <ul class="nav nav-tabs">
          <li><a class="font-weight:bold;" href="#name" data-toggle="tab">By Name</a></li>
          <li><a class="font-weight:bold;" href="#actor" data-toggle="tab">By Actor</a></li>
          <li><a class="font-weight:bold;" href="#director" data-toggle="tab">By Director</a></li>
        </ul>
      </div>
    </div>
      <div class="tab-content">
        <div class="tab-pane active" id="name">
          <form>
            <label>Name Search</label>
            <input type="text" name="name_search" />
            <input type="submit" value="Search" />
          </form>
        </div>
        <div class="tab-pane" id="actor">
          <form>
            <label>Actor Search</label>
            <select name="actor_search">
              <option value=""></option>
              <% @actors.each do |a| %>
                <option value=<%= a.id %>><%= a.name %></option>
              <% end %>
            </select>
            <input type="submit" value="Search" />
          </form>
        </div>
        <div class="tab-pane" id="director">
          <form>
            <label>Director Search</label>
            <select name="director_search">
              <option value=""></option>
              <% @directors.each do |d| %>
                <option value=<%= d.id %>><%= d.name %></option>
              <% end %>
            </select>
            <input type="submit" value="Search" />
          </form>
        </div>
      </div>
  <div class="row">
    <div class="span12">
      <hr />
    </div>
  </div>

  <div class="row">
    <%= link_to 'Add A New Dvd', new_dvd_path %>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="span2" style="font-weight:bold; text-align:left;">Name</div>
    <div class="span2" style="font-weight:bold; text-align:left;">Release Date</div>
    <div class="span6" style="font-weight:bold;">Summary</div>
  </div>
  <div class="row">
    <div class="span12">
      <hr />
    </div>
  </div>
  
  <% @dvds.each do |dvd| %>
    <div class="row">
      <div class="span2" style="text-align:left;"><%= link_to dvd.name, dvd %></div>
      <div class="span2" style="text-align:left;"><%= dvd.release_date %></div>
      <div class="span7" style="text-align:left;"><%= dvd.summary[0..100] %><% if dvd.summary.length > 100 %>...<% end %></div>
      <div class="span1">
          <%= link_to 'Show', dvd %>/<%= link_to 'Edit', edit_dvd_path(dvd) %>
          <%= link_to 'Remove', dvd, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="row">
        <div class="span12" style="padding-left:28px;">
          <hr />
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <%= link_to 'Add A New Dvd', new_dvd_path %>
  </div>
</div>
