<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <script>
        $(function(){
            $(".datepicker").datepicker();
            $(".tabs a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        });

    </script>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container" style="text-align:center;">
          <a class="brand" href="/">DVD Catalog</a>
          <div class="row" style="text-align:right">
            <div class="span2 offset 2"><a href="/dvds">DVDs</a></div>
            <div class="span2"><a href="/actors">Actors</a></div>
            <div class="span2"><a href="/directors">Directors</a></div>
          </div>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
